.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  padding: 0px;
  gap: 30px;
}

.container h1 {
  color: antiquewhite;
  font-weight: bold;
}
