.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  padding: 0px;
  color: antiquewhite;
  font-weight: bold;
  font-size: 35px;
}

.container h3 {
  color: white;
  font-size: 28px;
  font-weight: bold;
  padding: 0px 0px 20px 0px;
}

.store {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
  /* border: 2px solid yellow; */
}

.list {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 15px;
  margin: 0px;
  max-width: 400px;
  width: 400px;
}

.content {
  padding: 0px;
  padding: 0px;
  margin: 0;
  width: 100%;
}
