.nav {
  background-color: #2d2d2d;
  position: fixed;
  width: 100vw;
  margin: 0 auto;
  top: 0px;
  border-radius: 0px;
  padding: 10px 20px;
}

.nav ul {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.menu {
  color: white;
}

.sel_menu {
  background-color: azure;
  color: black;
  font-weight: bold;
}

.nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 250px;
  height: 45px;
  font-size: 20px;
  list-style: none;
  transform: none;
  transition: all 0.1s ease-in-out;
}

.nav ul li:hover {
  transform: scale(1.05);
}
